/*variaveis*/
:root {
--preto: #ffffff;
--branco: #ff0000;
--lilas-claro: #00ff2a;
--azul-médio: #002fff;
}
/*corpo da página*/
body {
 color: var(--branco);/*cor da borda*/
 background-color: var(--preto);/*cor de fundo*/
margin: 0px; /* não terá margem de padrão*/
}

header {
   border: solid 2px;
   border-color: var(--branco);/*cor da borda*/
   padding: 20px;/*espaçamento interno*/
   font-size: 32px;/*tamanho da fonte*/
   color: var(--azul-médio);/*cor da fonte*/
}

section {
   background-color: var(--lilas-claro);/*cor de fundo*/
   padding-bottom: 80px;/*espaçamento inferior*/
   padding-top: 80px;/*espaçamento superior*/
   display: flex;/*alterar a disposição*/
   justify-content: center;/*justificado no centro*/
}

div{
    margin-right: 20px;/*margem a direita*/
}
<body>

<section class="recomendacoes">
<h2>Outras recomendações</h2>
<div class="outras-recomendacoes">
<a href="<iframe width="560" height="315" src="https://www.youtube.com/embed/neY2xVmOfUM?si=p2Apu34Hdw9kV3G_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>>
<img src="https://share.google/images/sXFZ5BTxmxQA3Px19" />
</a>
<a href=<iframe width="560" height="315" src="https://www.youtube.com/embed/g8evyE9TuYk?si=nsJE3hO0tQuy7hqL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<img src="https://img.youtube.com/vi/VEdh5a0kIZE/maxresdefault.jpg" />
</a>
<a href="https://www.youtube.com/watch?v=xSaUcEzopiE">
<img src="https://img.youtube.com/vi/xSaUcEzopiE/maxresdefault.jpg" />
</a>
<a href="https://www.youtube.com/watch?v=N84TDkRoG0o">
<img src="https://img.youtube.com/vi/N84TDkRoG0o/maxresdefault.jpg" />
</a>
<a href="https://www.youtube.com/watch?v=QP2QG43VNXo">
<img src="https://img.youtube.com/vi/QP2QG43VNXo/maxresdefault.jpg" />
</a>
</div>
</section>
</body>

style.css

h1 {
font-size: 1.5rem;
text-align: center;
padding-top: 10px;
}
p {
font-size: 1rem;
text-align: center;
padding-top: 0px;
}

.chamada-texto {
margin-right: 20px;
}

.chamada {
background: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

img {
width: 300px;
height: 200px;
}
.outras-recomendacoes {
display: flex;
overflow-x: auto;
gap: 20px;
}
h2 {
margin-left: 30px;
}